<h1>Users#index</h1>

<ul>
<% @products.each do |r| %>
   <li><%= link_to <%= r.category %>, product_path(@sandwich.user) %> => color: <%+ r.color %> price: $<%= r.price %> </li>
  <% end %>
</ul>

<%= link_to @sandwich.user.name, user_path(@sandwich.user) %>