@import "bootstrap";

.product-container {
    // border: 1px solid black;
}

.box{
    width: 30px;
}

.navbar-brand {
    margin: auto;
    font-size: 2.5rem;
}

// .navbar {
    
//     z-index: 1;
//     position: fixed;
// }

// .container {
//     padding: 70px; 
// }




